JWT_SECRET=supersecretjwtkey

MONGO_URI_AUTH=mongodb://localhost:27017/auth-db
MONGO_URI_USER=mongodb://localhost:27017/user-db
MONGO_URI_POST=mongodb://localhost:27017/post-db
MONGO_URI_FEED=mongodb://localhost:27017/feed-db
MONGO_URI_COMMENT=mongodb://localhost:27017/comment-db
MONGO_URI_FRIEND=mongodb://localhost:27017/friend-db
MONGO_URI_NOTIFY=mongodb://localhost:27017/notify-db
MONGO_URI_STORY=mongodb://localhost:27017/story-db

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
